body,html
{
    background-color:darkseagreen;
    padding:0;
    margin:0;
    overflow:hidden;
}

#svg { 
    background-color:black;
    border:2px solid lime;
    height:600px;
    width:800px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    padding:0;
}